@charset "UTF-8";

// 1. Configuration and helpers
@import
'abstracts/variables',
'abstracts/mixins';

// 2. Vendors

// 3. Base Stuff
@import
'base/_base',
'base/fonts',
'base/typography',
'base/helpers';
.block {
  border: 1px solid #E0E0E0;
  padding: 15px;
  margin-bottom: 10px;
}

.block.block-todo {
  border: blue 1px solid;
}

.block-todo {
  border: 1px solid #333;
}